body{
	color:
#2c2c2c;
font-size: 14px;
font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
header{}
footer{
	background-color: #B0C4DE;
}
.main-menu{
	background-color: black; color: white;
}

ul {
  
}

li.nav-item {
  float: right;
}

li a.menu {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a.menu:hover {
  background-color: #111;
}


.navbar {
    font-size: 18px;
    letter-spacing: 1px;
}
.navbar {
	flex-direction: row;

}

.navbar-nav {
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


.cc-profile-image img {
	position:relative;
	border-radius:50%;
	height: 180px;
	width: 180px;
	padding: 0;
	margin: 0;
	border: 15px solid
	transparent;
	z-index: 9999;
	-webkit-transition: all .3s ease-out;	
}
img{
	max-width: 10%;
	max-height: 10%;
	border-radius: 1px;
}
img{
	vertical-align: middle;
	border-style: none;
}
.page-content {
	background-color: #FFFFFF;
}
.profile-page{
	background-color: #00FFFF;
}
.informations-basiques{
	background-color: #FFFFFF;
}
.page-competences{
	background-color: #00FFFf;
}
.page-expériences{
	background-color: #FFFFFF;
}
.formation{
	background-color: #00FFFF;
}
.page-formation{
	background: #FFFFFF;
}
.page-centre-interet{
	background-color: #00FFFF;
}
 .button-container img {
	position:relative;
	border-radius:50%;
	height: 61px;
	width: 61px;
	padding: 0;
	margin: 0;
	border: 15px solid
	transparent;
	z-index: 9999;
	-webkit-transition: all .3s ease-out;	
}





